.products-cart{
    border: 2px solid black;
    border-radius: 50px;
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(900px, 0.95fr));
    grid-auto-rows: 150px;
    gap: 4rem;
    overflow-y: scroll;
    
}

.product-cart{
    margin: 1rem;
    border: 1px solid red;
    border-radius: 50px;
    width: 98%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.95fr));
    padding: 1.2rem;
    place-items: center;
}

.image{
    width: clamp(60%, 65%, 68%);

}
.product-cart img{
    width: 100%;
    height: 100%;
}

.bxs-trash{
    font-size: 6rem;
    filter: drop-shadow(5px 5px 5px grey);  
}
.check-out{
    margin-top: 1rem;
    border-radius: 65px;
    background: rgba(227, 227, 227, 0.391);
    box-shadow: 2px 2px 15px grey;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.empty-cart{
    width: 40%;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.empty-cart .boton{
    height: 40% ;
}

.pay{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pay .boton{
    height: 40% ;
}
